@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
  }
}




.rounded-scrollbar-container::-webkit-scrollbar {

  width: 0px; /* Scrollbar width */
}

.rounded-scrollbar-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners for the track */
}

.rounded-scrollbar-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.rounded-scrollbar-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.title {
  font-size: 1.5rem; /* Title font size */
  margin-bottom: 10px; /* Margin below the title */
  color: #333; /* Title color */
}

.content {
  color: #666; /* Text color */
}
